<% provide(:title, "Edit #{@collection.name}") %>

<div class="row">
  <div class="col-md-12">
    <h1>Edit <%= @collection.name %> Collection</h1>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12">
      <div class="table-responsive">
        <table id="recipe-list" class="table table-hover">
          <thead>
            <tr>
              <th>IMAGE</th>
              <th>ID</th>
              <th>TITLE</th>
              <th>AUTHOR</th>
              <th>TIME</th>
              <th>RATING</th>
              <th>CUSINE</th>
              <th>CATEGORY</th>
              <th>COURSE</th>
              <th>CREATED</th>
              <th><!-- empty header for "View" button --></th>
              <th><!-- empty header for "Remove" button --></th>
            </tr>
          </thead>
          <tbody>
            <% @collection.recipes.each do |recipe| %>
              <tr>
                <td><%= image_tag(recipe.image_url.url, size: "32", alt: recipe.title) %></td>
                <td><%= recipe.id %></td>
                <td><%= link_to recipe.title, recipe %></td>
                <td><%= link_to recipe.user.name, recipe.user %></td>
                <td><%= recipe.total_time %></td>
                <td><%= recipe.average_rating %></td>
                <td><%= recipe.cuisine %></td>
                <td><%= recipe.category %></td>
                <td><%= recipe.course %></td>
                <td><%= recipe.created_at.strftime("%m-%d-%Y") %></td>
                <td><%= link_to "View", recipe, :class => "btn btn-primary btn-sm", :role => "button" %></td>
                <td><%= link_to "Remove", remove_from_collection_collection_path(@collection, :recipe => recipe.id), :method => "put", :class => "btn btn-danger btn-sm", :role => "button" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->
  </div><!-- /.col-md-12 -->
</div> <!-- /.row -->

<%= form_for(@collection, html: { mulitpart: true }) do |f| %>
<div class="row">
  <div class="col-md-12">
    <%= render 'shared/error_messages', object: f.object %>
    <div class="main-img-wrapper">
      <%= image_tag(@collection.image.url, alt: @collection.name, class: "img") %>
      <div id="img-update-fields">
        <%= f.label :image, "Collection Image (5MB or less)" %>
        <%= f.file_field :image, class: 'form-control', accept: 'image/jpeg,image/gif,image/png' %>
        <%= f.label :remove_image, class: "checkbox inline" do %>
          <%= f.check_box :remove_image %>
          <span>Remove Current Image (press save to remove)</span>
        <% end %>
      </div>
    </div><!-- /.main-img-wrapper -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="recipe-panel" class="panel panel-info center-block">
          <div class="panel-heading">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', value: @collection.name %>
            </div><!-- /.form-group -->
          </div><!-- /.panel-heading -->
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_area :description, class: 'form-control', value: @collection.description %>
                </div><!-- /.form-group -->
              </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= f.label :featured, class: "checkbox inline" do %>
                  <%= f.check_box :featured, value: @collection.featured %>
                  <span>Featured (listed on home page)</span>
                <% end %>
                <%= f.submit "Update", class: 'create-button btn btn-primary' %>
              </div>
            </div><!-- /.row -->
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.col-md-12" -->
</div><!-- /.row -->

<% end %><!-- /form -->