<div class="row filters">
  <%= button_tag type: "button", class: "btn btn-default btn-filter center-block collapsed", :"aria-expanded" => "false", :"aria-controls" => "#filter-wrapper", data: {toggle: "collapse", target: "#filter-wrapper"} do %>
    Filters <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
  <% end %>
  <% if !params[:category].blank? || !params[:cuisine].blank? || !params[:course].blank? || !params[:sort_by].blank? %>
    <div class="col-xs-12">
      <p class="text-center small">
        <%= "Category: #{params[:category]} | " unless params[:category].blank? %>
        <%= "Cuisine: #{params[:cuisine]} | " unless params[:cuisine].blank? %>
        <%= "Course: #{params[:course]} | " unless params[:course].blank? %>
        <%= "Sorted By: #{params[:sort_by]}" unless params[:sort_by].blank? %>
      </p>
    </div>
  <% end %>
  <div class="col-xs-12">
    <div id="filter-wrapper" class="collapse">
      <div class="well">
        <%= form_tag request.path, :method => 'get', class: 'filter', role: 'filter' do %>  
          <div class="row">
            <div class="col-sm-3 col-md-2 col-md-offset-2">
              <div class="form-group">
                <%= label_tag(:category, "Filter by Category") %>
                <%= select_tag(:category, options_for_select(Recipe::CATEGORY_OPTIONS, params[:category]), { class: 'form-control', :include_blank => 'All Categories' }) %>
              </div><!-- /.form-group -->
            </div><!-- /.col-sm-3 -->
            <div class="col-sm-3 col-md-2">
              <div class="form-group">
                <%= label_tag(:cuisine, "Filter by Cuisine") %>
                <%= select_tag(:cuisine, options_for_select(Recipe::CUISINE_OPTIONS, params[:cuisine]), { class: 'form-control', :include_blank => 'All Cuisines' }) %>
              </div><!-- /.form-group -->
            </div><!-- /.col-sm-3 -->
            <div class="col-sm-3 col-md-2">
              <div class="form-group">
                <%= label_tag(:course, "Filter by Course") %>
                <%= select_tag(:course, options_for_select(Recipe::COURSE_OPTIONS, params[:course]), { class: 'form-control', :include_blank => 'All Courses' }) %>
              </div><!-- /.form-group -->
            </div><!-- /.col-sm-3 -->
            <div class="col-sm-3 col-md-2">
              <div class="form-group">
                <%= label_tag(:sort_by, "Sort by") %>
                <%= select_tag(:sort_by, options_for_select(Recipe::SORTING_OPTIONS, params[:sort_by]), { class: 'form-control' }) %>
              </div><!-- /.form-group -->
            </div><!-- /.col-sm-3 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-4">
              <div class="form-group">
                <%= hidden_field_tag(:search, params[:search]) if params[:search] %>
                <%= submit_tag("Apply", :name => nil, class: 'btn btn-primary') %>
              </div><!-- /.form-group -->
            </div><!-- /.col-sm-2 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
              <div class="form-group">
                <%= link_to("Remove All", { action: "index", sort_by: "Date (default)"}, class: 'btn btn-danger btn-block') if current_page?(controller: 'recipes', action: 'index') %>
                <%= link_to("Remove All", { action: "popular", sort_by: "Date (default)"}, class: 'btn btn-danger btn-block') if current_page?(controller: 'recipes', action: 'popular') %>
                <%= link_to("Remove All", { action: "latest", sort_by: "Date (default)"}, class: 'btn btn-danger btn-block') if current_page?(controller: 'recipes', action: 'latest') %>
                <%= link_to("Remove All", { action: "quick", sort_by: "Date (default)"}, class: 'btn btn-danger btn-block') if current_page?(controller: 'recipes', action: 'quick') %>
                <%= link_to("Remove All", { action: "admin_view", sort_by: "Date (default)"}, class: 'btn btn-danger btn-block') if current_page?(controller: 'recipes', action: 'admin_view') %>
              </div><!-- /.form-group -->
            </div><!-- /.col-sm-2 -->
          </div><!-- /.row -->
        <% end %>
      </div><!-- /.well -->
    </div><!-- /#filter-wrapper -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->