<div class="row">
  <div class="col-sm-12">
    <div class="page-header text-center">
      <% if params[:search].nil? %>
        <h1>Browse</h1>
        <ul class="nav nav-pills center-pills">
          <li role="presentation" class="<%= 'active' if current_page?(action: 'index') %>"><%= link_to "All", { action: "index", sort_by: "Date"} %></li>
          <li role="presentation" class="<%= 'active' if current_page?(action: 'popular') %>"><%= link_to "Popular", { action: "popular", sort_by: "Date"} %></li>
          <li role="presentation" class="<%= 'active' if current_page?(action: 'latest') %>"><%= link_to "Recent", { action: "latest", sort_by: "Date"} %></li>
          <li role="presentation" class="<%= 'active' if current_page?(action: 'quick') %>"><%= link_to "Quick", { action: "quick", sort_by: "Date"} %></li>
        </ul>
      <% else %>
        <h1><%= @recipes.size %> results for: <small><%= params[:search] %></small></h1>
      <% end %>
    </div><!-- /.page-header -->
  </div><!-- /.col-sm-12 -->
</div><!-- /.row -->