<div class="col-xs-6 col-sm-4 col-md-3" id="recipe-<%= recipe.id %>">
  <div class="thumbnail">
  <%= link_to(recipe) do %>
    <div class="thumb-img">
      <%= image_tag(recipe.image_url.url, alt: recipe.title, class: "img") if recipe.image_url? %>
      <% if recipe.hidden == true %>
        <h2 class="warning-bar">PRIVATE</h2>
      <% end %>
      <div class="recipe-head">
        <h3><%= recipe.title %></h3>
      </div> <!-- /.caption -->
      <div class="overlay">
        <% if recipe.description.length < 101 %>
          <p><%= recipe.description %></p>
        <% else %>
          <p><%= recipe.description[0..100].concat("...") %></p>
        <% end %>
        <p>created: <%= recipe.created_at.strftime("%b %d, %Y") %></p>
      </div><!-- /.overlay -->
    </div><!-- /.thumb-img -->
  <% end %>
    <div class="caption text-center">
      <%= link_to(image_tag(recipe.user.image_url.url, size: "48", alt: recipe.user.name, class: "img"), recipe.user) if recipe.user.image_url? %>
      <p class="author">by: <%= link_to(recipe.user.name, recipe.user) %></p>
      <div class="rating-display recipe-rating">
        <p class="hidden-xs">(<%= recipe.reviews.size %>)</p>
        <% case recipe.average_rating %>
        <% when 4.5..5 %>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% when 3.5...4.5 %>
          <span></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% when 2.5...3.5 %>
          <span></span>
          <span></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% when 1.5...2.5 %>
          <span></span>
          <span></span>
          <span></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% when 0.1...1.5 %>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="filled-star"></span>
        <% else %>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        <% end %>
        <p class="visible-xs">(<%= recipe.reviews.size %>)</p>
      </div><!-- /.rating-display -->
      <div class="recipe-time">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= pluralize(hours_in_number(recipe.total_time), "hr ", "hrs ") unless hours_in_number(recipe.total_time) == 0 %><%= pluralize(minutes_in_number(recipe.total_time), "min", "mins") unless minutes_in_number(recipe.total_time) == 0 %>
      </div>
    </div><!-- /.caption -->
  <% if logged_in? && current_user?(recipe.user) %>
    <div class="recipe-buttons">
      <%= link_to "Edit", edit_recipe_path(recipe.id), class: "btn btn-primary btn-sm", role: "button" %>
      <%= link_to "Delete", recipe, method: :delete, class: "btn btn-danger btn-sm", role: "button", data: { confirm: "Are you sure you want to delete this recipe?" } %>
    </div> <!-- /.recipe-buttons -->
  <% end %>
  </div> <!-- /.thumbnail -->
</div> <!-- /.col-sm-3 -->
