<div class="form-group">

  <div class="row">
    <div class="step-wrapper clearfix">
      <div class="col-sm-9">
        <%= f.hidden_field :step_number, class: 'form-control', :"data-field" => "step_number" %>
        <div class="field">
          <%= f.text_area :content, rows: 4, class: 'form-control' %>
        </div>
      </div><!-- /.col-sm-9 -->
      <div class="col-sm-3">
        <div class="btn-group" role="group" aria-label="...">
          <%= button_tag type: 'button', class: 'move-up-button btn btn-default' do %>
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
          <% end %>
          <%= button_tag type: 'button', class: 'move-down-button btn btn-default' do %>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <% end %>
        </div><!-- /.btn-group -->
          <%= link_to_remove_association f, { wrapper_class: "form-group" } do %>
            <%= button_tag type: 'button', class: 'delete-button btn btn-danger' do %>
               <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
            <% end %>
          <% end %>
      </div><!-- /.col-sm-3 -->
    </div><!-- /.step-wrapper -->
  </div><!-- /.row -->

</div><!-- /.form-group -->