<% provide(:title, "New Recipe") %>

<div class="row">
  <div class="col-md-12">
    <h1>New Recipe</h1>
  </div>
</div>

<hr/>

<%= form_for(@recipe) do |f| %>
<div class="row">
  <div class="col-md-12">
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="recipe-panel" class="panel panel-info center-block">
          <div class="panel-heading">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div><!-- /.panel-heading -->
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-6">
                <%= f.label :prep_time %>
                <%= f.number_field :prep_time, class: 'form-control', placeholder: 'minutes' %>
                
                <%= f.label :cook_time %>
                <%= f.number_field :cook_time, class: 'form-control', placeholder: 'minutes' %>
              </div>
            </div><!-- /.row -->
          </div><!-- /.panel-body -->
        </div><!-- /.panel -->
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= f.label :image_url, "Recipe Image (5MB or less)" %>
        <%= f.file_field :image_url, class: 'form-control', accept: 'image/jpeg,image/gif,image/png' %>
      </div><!-- /.col-md-8 -->
    </div><!-- /.row -->
  </div><!-- /.col-md-12" -->
</div><!-- /.row -->

<hr/>

<div class="row">
  <div class="col-md-8">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    <hr/>
    <h3>Directions:</h3>
    <p>placeholder for @recipe.steps</p>
  </div><!-- /.col-md-8 -->
  <div class="col-md-4">
    <%= f.label :servings %>
    <%= f.text_field :servings, class: 'form-control' %>
    <h3>Ingredients:</h3>
    <p>placeholder for @recipe.indgredients</p>
  </div><!-- /.col-md-4 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= f.submit "Create Recipe", class: 'btn btn-primary' %>
  </div>
</div>
<% end %>