<% provide(:title, @user.name + " User Profile") %>

<div class="row">
  <div class="col-md-4">
    <%= image_tag(@user.image_url, alt: @user.name + " Profile Image", class: "img-responsive img-rounded") %>
  </div>
  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <h2><%= @user.email %></h2>
    <p>Member Since: <%= @creation_date %></p>
    <p>Location: <%= @user.location %></p>
    <% if current_user?(@user) %>
    <p><%= link_to "Edit Profile", edit_user_path, :class => "btn btn-primary", :role => "button" %></p>
    <% end %>
  </div>
</div> <!-- /.row -->

<hr/>

<div id="user-recipes" class="row user-recipes">
  <% if @user.recipes.any? %>
  <h2 class="text-center"><%= @user.name %>'s Recipes</h2>
    <% if current_user?(@user) %>
      <p class="text-center"><%= link_to "Create a new recipe", new_recipe_path, :class => "btn btn-primary btn-lg", :role => "button" %></p>
    <% end %>
  <%= render @recipes %>
  <% end %>
</div> <!-- /.row -->

<% if @user.recipes.any? %>
  <div class="row">
    <%= will_paginate @recipes %>
  </div>
<% end %>