<% provide(:title, @user.name + " User Profile") %>

<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-2 col-md-offset-1">
    <%= image_tag(@user.image_url.url, alt: @user.name + " Profile Image", class: "img-responsive img-rounded profile-img") if @user.image_url? %>
  </div>
  <div class="col-xs-8">
    <h1><%= @user.name %></h1>
    <p>Member Since: <%= @creation_date %></p>
    <p>Location: <%= @user.location %></p>
    <% if current_user?(@user) %>
    <p><%= link_to "Edit Profile", edit_user_path, :class => "btn btn-primary", :role => "button" %></p>
    <% end %>
  </div>
</div> <!-- /.row -->

<hr/>

<div class="tab-display">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><%= link_to("Recipes", "#user-recipes", aria: { controls: "user recipes" }, role: "tab", data: { toggle: "tab" }) %></li>
    <li role="presentation"><%= link_to("Reviews", "#user-reviews", aria: { controls: "user reviews" }, role: "tab", data: { toggle: "tab" }) %></li>
    <li role="presentation"><%= link_to("Favorites", "#user-favorites", aria: { controls: "user favorites"}, role: "tab", data: { toggle: "tab" }) %></li>
  </ul><!-- /.nav-tabs -->
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="user-recipes">
      <%= render 'user_recipe_display' %>
    </div><!-- /#user-recipes -->
    <div role="tabpanel" class="tab-pane fade" id="user-reviews">
      <%= render 'user_review_display' %>
    </div><!-- /#user-reviews -->
    <div role="tabpanel" class="tab-pane fade" id="user-favorites">
      <%= render 'user_favorite_display' %>
    </div><!-- /#user-favorites -->
  </div><!-- /.tab-content -->
</div><!-- /.tab-display -->