<% provide(:title, @user.name + " User Profile") %>

<div class="row">
  <div class="col-md-4">
    <%= image_tag(@user.image_url.url, alt: @user.name + " Profile Image", class: "img-responsive img-rounded") if @user.image_url? %>
  </div>
  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <h2><%= @user.email %></h2>
    <p>Member Since: <%= @creation_date %></p>
    <p>Location: <%= @user.location %></p>
    <% if current_user?(@user) %>
    <p><%= link_to "Edit Profile", edit_user_path, :class => "btn btn-primary", :role => "button" %></p>
    <% end %>
  </div>
</div> <!-- /.row -->

<hr/>

<div class="tab-display">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><%= link_to("Recipes", "#user-recipes", aria: { controls: "user recipes" }, role: "tab", data: { toggle: "tab" }) %></li>
    <li role="presentation"><%= link_to("Reviews", "#user-reviews", aria: { controls: "user reviews" }, role: "tab", data: { toggle: "tab" }) %></li>
  </ul><!-- /.nav-tabs -->
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="user-recipes">
      <%= render 'user_recipe_display' %>
    </div><!-- /#user-recipes -->
    <div role="tabpanel" class="tab-pane fade" id="user-reviews">
      <%= render 'user_review_display' %>
    </div><!-- /#user-reviews -->
  </div><!-- /.tab-content -->
</div><!-- /.tab-display -->