<div class="col-sm-6 col-md-4" id="review-<%= review.id %>">
  <div class="panel panel-default review-panel">
    <div class="panel-heading">
      <div class="rating-display">
        <% if review.rating == 5 %>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% elsif review.rating == 4 %>
          <span></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% elsif review.rating == 3 %>
          <span></span>
          <span></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% elsif review.rating == 2 %>
          <span></span>
          <span></span>
          <span></span>
          <span class="filled-star"></span>
          <span class="filled-star"></span>
        <% elsif review.rating == 1 %>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="filled-star"></span>
        <% else %>
          <p>error retrieving star rating</p>
        <% end %>
      </div><!-- /.rating-display -->
      <% if params[:controller] == 'users' %>
        <%= link_to(review.recipe.title, review.recipe) %>
      <% end %>
    </div><!-- /.panel-heading -->
    <div class="panel-body">
      <p><%= review.content %></p>
      <p class="text-center">
        <%= link_to("#") do %>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> full review <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        <% end %>
      </p>
    </div><!-- /.panel-body -->
    <div class="panel-footer">
      <div class="row no-gutter">
        <div class="col-xs-2">
          <%= link_to(image_tag(review.user.image_url.url, size: "32", alt: review.user.name, class: "img profile-img"), review.user) %>
        </div><!-- /.col-xs-2 -->
        <div class="col-xs-10">
          <p><%= link_to(review.user.name, review.user) %><span><%= review.updated_at.strftime("%b %d, %Y") %></span></p>
        </div><!-- /.col-xs-10 -->
      </div><!-- /.row -->
    </div><!-- /.panel-footer -->
  </div><!-- /.panel -->
</div><!-- /.col-sm-4 -->