<% if review_exists?(@recipe) %>
  <%= form_for(@review) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.hidden_field :recipe_id, value: @review.recipe_id %>
      <fieldset class="rating">
        <%= f.radio_button :rating, "5", :checked => @review.rating == 5 ? true : nil %>
        <%= f.label :rating, value: "5" %>
        <%= f.radio_button :rating, "4", :checked => @review.rating == 4 ? true : nil %>
        <%= f.label :rating, value: "4" %>
        <%= f.radio_button :rating, "3", :checked => @review.rating == 3 ? true : nil %>
        <%= f.label :rating, value: "3" %>
        <%= f.radio_button :rating, "2", :checked => @review.rating == 2 ? true : nil %>
        <%= f.label :rating, value: "2" %>
        <%= f.radio_button :rating, "1", :checked => @review.rating == 1 ? true : nil %>
        <%= f.label :rating, value: "1" %>
      </fieldset>
      <div class="pull-right">
        <%= render 'shared/user_small' %>
      </div><!-- /.pull-right -->
      <%= f.text_area :content, class: 'form-control', value: @review.content %>
    </div><!-- /.form-group -->
    <div class="row">
      <div class="col-xs-4 col-xs-offset-2">
        <%= f.submit "Update", class: "btn btn-primary btn-block" %>
      </div><!-- /.col-xs-4 -->
  <% end %>
      <div class="col-xs-4">
        <%= link_to "Delete", @review, method: :delete, class: "btn btn-danger btn-block", role: "button" %>
      </div><!-- /.col-xs-4 -->
    </div><!-- /.row -->
<% else %>
  <%= form_for(@review) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.hidden_field :recipe_id, value: params[:id] %>
      <fieldset class="rating">
        <%= f.radio_button :rating, "5" %>
        <%= f.label :rating, value: "5" %>
        <%= f.radio_button :rating, "4" %>
        <%= f.label :rating, value: "4" %>
        <%= f.radio_button :rating, "3" %>
        <%= f.label :rating, value: "3" %>
        <%= f.radio_button :rating, "2" %>
        <%= f.label :rating, value: "2" %>
        <%= f.radio_button :rating, "1" %>
        <%= f.label :rating, value: "1" %>
      </fieldset>
      <div class="pull-right">
        <%= render 'shared/user_small' %>
      </div><!-- /.pull-right -->
      <%= f.text_area :content, class: 'form-control', placeholder: "Your review" %>
    </div><!-- /.form-group -->
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div><!-- /.col-xs-6 -->
    </div><!-- /.row -->
  <% end %>
<% end %>