<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= yield(:title) %> | Make Chow | Top food, snack, and drink recipes on the web</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  <%= render 'layouts/favicon' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  
  <div id="page-container">
  
    <%= render 'layouts/header' %>
  
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
          </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->
        <%= yield %>
      
        <% if Rails.env.development? %>
          <div class="row">
            <div class="col-md-8">
              <%= debug(params) %>
            </div>
          </div>
        <% end %>
    </div><!-- /.container -->
  
    <%= render 'layouts/footer' %>
  
  </div><!-- #page-container -->
  
</body>
</html>
